div{
  color:white;
  text-align: center;
  float: left;
}
#one{
  background-color:blue;
  height: 100px;
  width: 100%;
  line-height: 100px;
  
}
#two{
  background-color:turquoise;
  height:500px;
  width:20%;
  line-height: 500px;
}
#three{
  background-color:red;
  height:500px;
  width:60%;
  line-height: 500px;

}
#four{
  background-color:greenyellow;
  height:500px;
  width:20%;
  line-height: 500px;
}
#five{
  background-color:purple;
  height: 100px;
  width: 100%;
  line-height: 100px;
}
